<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrgj.quartz.mybatis.mapper.SysJobLogMapper">

    <!--物理删除所有的日志-->
    <delete id="cleanJobLogMapper">
        TRUNCATE TABLE SYS_JOB_LOG
    </delete>

    <!--物理批量删除日志-->
    <delete id="cleanBathJobLogMapper">
        delete SYS_JOB_LOG where ID in
        <foreach collection="ids" open="(" close=")" item="item" index="index" separator=",">
            #{item}
        </foreach>
    </delete>

    <!--物理删除日志-->
    <delete id="cleanJobLogByJobIdMapper">
        delete
            SYS_JOB_LOG where JOB_ID =
        #{jobId}
    </delete>

    <delete id="cleanJobLogByTimeMapper">
        delete
            SYS_JOB_LOG
        where START_TIME between
                  #{startTime}
                  and
                  #{endTime}
    </delete>
</mapper>
